extends ../../layout

block stylesheets
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/user-settings.css')
block content
    //
      User Profile Sidebar by @keenthemes
      A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
      Licensed under MIT
    .container
        .row.profile
            .col-md-3
                .profile-sidebar
                    //.profile-userpic
                    //    if (user.profileImg)
                    //        img.rounded.mx-auto.d-block(src='/images/uploads/' + user.profileImg.filename)
                    //.profile-userbuttons
                    //    button.btn.btn-default.btn-secondary.btn-sm(type='button') Change Image
                    nav.nav.flex-column.profile-usermenu
                        a.nav-link(class=title === 'Profile Setting' ? 'active' : undefined, href='profile') Profile
                        a.nav-link(class=title === 'Account Setting' ? 'active' : undefined, href='account') Account

            .col-md-9
                .profile-content
                    .container
                        .col-sm-12.col-md-10.mx-auto
                            .row
                                .col-12
                                    != messages()
                            // Password Change ///////////////////////////////////////////////////////////////////////
                            //////////////////////////////////////////////////////////////////////////////////////////
                            #change-password
                                h5.font-weight-bold Change Password
                            hr
                            form#changePasswordForm.form-horizontal(method='post', action='/users/' + user.username + '/settings/account/change_password', novalidate='novalidate')
                                .form-group
                                    .row
                                        label.col-sm-12.col-md-4.control-label(for='old_password') Old Password
                                        .col-sm-12.col-md-8
                                            input#old_password.form-control.validate-equalTo-blur(type='password', name='old_password', placeholder='Password', aria-required='true', aria-describedby='old_password-error', aria-invalid='false')
                                            if (errors)
                                                if (errors.old_password)
                                                    #old_password-error.error.invalid-feedback= errors.old_password.msg
                                .form-group
                                    .row
                                        label.col-sm-12.col-md-4.control-label(for='new_password') New Password
                                        .col-sm-12.col-md-8
                                            input#new_password.form-control.validate-equalTo-blur(type='password', name='new_password', placeholder='Password', aria-required='true', aria-describedby='new_password-error', aria-invalid='false')
                                            if (errors)
                                                if (errors.new_password)
                                                    #new_password-error.error.invalid-feedback= errors.new_password.msg
                                .form-group
                                    .row
                                        label.col-sm-12.col-md-4.control-label(for='password2') Confirm password
                                        .col-sm-12.col-md-8
                                            input#password2.form-control(type='password', name='password2', placeholder='Confirm password', aria-required='true', aria-describedby='password2-error', aria-invalid='false')
                                            if (errors)
                                                if (errors.password2)
                                                    #password2-error.error.invalid-feedback= errors.password2.msg
                                .form-group
                                    .row
                                        .col-sm-12.col-md-4
                                        .col-sm-12.col-md-4
                                            button.btn.btn-default.btn-secondary(type='submit', value='Change Password') Change Password

                            // Username Change ///////////////////////////////////////////////////////////////////////
                            //////////////////////////////////////////////////////////////////////////////////////////
                            #change-username
                                h5.font-weight-bold Change Username
                            hr
                            form#changeUsernameForm.form-horizontal(method='post', action='/users/' + user.username + '/settings/account/change_username', novalidate='novalidate')
                                .form-group
                                    .row
                                        label.col-sm-12.col-md-4.control-label(for='username') Username
                                        .col-sm-12.col-md-8
                                            input#username.form-control(type='text', name='username', value=user.username, placeholder='Username', aria-required='true', aria-describedby='username-error', aria-invalid='false')
                                            if (errors)
                                                if (errors.username)
                                                    #username-error.error.invalid-feedback= errors.username.msg
                                .form-group
                                    .row
                                        .col-sm-12.col-md-4
                                        .col-sm-12.col-md-4
                                            button.btn.btn-default.btn-secondary(type='submit', value='Update Username') Update Username

                            // Email Change //////////////////////////////////////////////////////////////////////////
                            //////////////////////////////////////////////////////////////////////////////////////////
                            #change-email
                                h5.font-weight-bold Change Email
                            hr
                            form#changeEmailForm.form-horizontal(novalidate='novalidate')
                                .form-group
                                    .row
                                        label.col-sm-12.col-md-4.control-label(for='email') Email
                                        .col-sm-12.col-md-8
                                            input#email.form-control(type='text', name='email', placeholder='Email', value=user.email, aria-required='true', aria-describedby='email-error', aria-invalid='false')
                                            if (errors)
                                                if (errors.email)
                                                    #email-error.error.invalid-feedback= errors.email.msg
                                .form-group
                                    .row
                                        .col-sm-12.col-md-4
                                        .col-sm-12.col-md-4
                                            button#btn-change-email.btn.btn-default.btn-secondary(type='button', value='Update Email', data-toggle="modal", data-target="#confirmChangeEmail") Update Email

                            // Modal
                            #confirmChangeEmail.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmChangeEmail', aria-hidden='true')
                                .modal-dialog.modal-dialog-centered(role='document')
                                    .modal-content
                                        .modal-header
                                            h5#confirmChangeEmailCenterTitle.modal-title Change Email
                                            button.close(type='button', data-dismiss='modal')
                                                span(aria-hidden='true') ×
                                        .modal-body
                                            form#confirmChangeEmailForm.form-horizontal(method='post', action='/users/' + user.username + '/settings/account/change_email', novalidate='novalidate')
                                                .form-group
                                                    .row
                                                        label.col-sm-12.col-md-4.control-label(for='password') Password
                                                        .col-sm-12.col-md-8
                                                            input#password.form-control(type='password', name='password', placeholder='Password', value=user.password, aria-required='true', aria-describedby='password-error', aria-invalid='false')
                                                            if (errors)
                                                                if (errors.email)
                                                                    #email-error.error.invalid-feedback= errors.password.msg
                                                .form-group
                                                    .row
                                                        .col-sm-12.col-md-4
                                                        .col-sm-12.col-md-4
                                                            button.btn.btn-default.btn-success(type='submit', value='Confirm') Confirm
                                        .modal-footer
                                            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel


                            // Delete Account ////////////////////////////////////////////////////////////////////////
                            //////////////////////////////////////////////////////////////////////////////////////////
                            #delete-account
                                h5.text-danger.font-weight-bold Delete Account
                                hr
                                p Once you delete your account, there is no going back.

                                button.btn.btn-default.btn-secondary.btn-danger.font-weight-bold(type='button', value='Delete Account', data-toggle="modal", data-target="#confirmDelete") Delete Account
                                // Modal
                                #confirmDelete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmDeleteAccount', aria-hidden='true')
                                    .modal-dialog.modal-dialog-centered(role='document')
                                        .modal-content
                                            .modal-header
                                                h5#exampleModalCenterTitle.modal-title.text-danger Delete Account
                                                button.close(type='button', data-dism
                                                iss='modal', aria-label='Close')
                                                    span(aria-hidden='true') ×
                                            .modal-body
                                                form#deleteAccountForm.form-horizontal(method='post', action='/users/' + user.username + '/settings/account/delete', novalidate='novalidate')
                                                    button.btn.btn-danger.font-weight-bold(type='submit') I AM SURE, DELETE ACCOUNT.
                                            .modal-footer
                                                button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
