extends ../../layout

block stylesheets
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/user-settings.css')
block content
    //
      User Profile Sidebar by @keenthemes
      A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
      Licensed under MIT
    .container
        .row.profile
            .col-md-3
                .profile-sidebar
                    .profile-userpic
                        if (user.profileImg)
                            img.rounded.mx-auto.d-block(src='/images/uploads/' + user.profileImg.filename)
                    .profile-userbuttons
                        button.btn.btn-default.btn-sm(type='button') Change Image
                    nav.nav.flex-column.profile-usermenu
                        a.nav-link.active(href='profile') Profile
                        a.nav-link(href='password') Password
                        a.nav-link(href='#') Link
                        a.nav-link(href='#') Link
                        button.btn.btn-success(type='button') Save Changes
            .col-md-9
                .profile-content
                    .container
                        .col-sm-12.col-md-10.mx-auto
                            form#registerForm.form-horizontal(method='post', action='/user/register', enctype="multipart/form-data", novalidate='novalidate')
                                .form-group
                                    .row
                                        label.col-sm-12.col-md-4.control-label(for='name') Name
                                        .col-sm-12.col-md-8
                                            input#name.form-control(type='text', name='name', value=user.name placeholder='Name', aria-required='true', aria-describedby='name-error', aria-invalid='false')
                                            if (errors)
                                                if (errors.name)
                                                    #name-error.error.invalid-feedback= errors.name.msg
                                .form-group
                                    .row
                                        label.col-sm-12.col-md-4.control-label(for='username') Username
                                        .col-sm-12.col-md-8
                                            input#username.form-control(type='text', name='username', value=user.username, placeholder='Username', aria-required='true', aria-describedby='username-error', aria-invalid='false')
                                            if (errors)
                                                if (errors.username)
                                                    #username-error.error.invalid-feedback= errors.username.msg
                                .form-group
                                    .row
                                        label.col-sm-12.col-md-4.control-label(for='email') Email
                                        .col-sm-12.col-md-8
                                            input#email.form-control(type='text', name='email', placeholder='Email', value=user.email, aria-required='true', aria-describedby='email-error', aria-invalid='false')
                                            if (errors)
                                                if (errors.email)
                                                    #email-error.error.invalid-feedback= errors.email.msg


